[Unit]
Description=Nvidia Fan Control for Wayland
After=sockets.target
After=graphical.target
Wants=sockets.target

[Service]
Type=simple
RuntimeDirectory=tjaele
ExecStart=/usr/local/sbin/tjaeled -c /usr/local/etc/tjaele/config.toml
RestartSec=5
Restart=always

[Install]
WantedBy=graphical.target